@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.App {
  width: 350px;
  height: 650px;
  margin: auto;
  position: relative;
  background: #005AA7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.App .background {
  width: 300px;
  height: auto;
  z-index: 1;
  position: absolute;
  transform: translate(-50%,50%);
  bottom: 50%;
  left: 50%;
}

.App .Header {
  display: flex;
  justify-content: space-between;
}

.App .Header  {
  fill: white;
}

.App .Header .header {
  display: flex;
  align-items: center;
}

.App .Header .four {
  margin-left: 0.5rem;
}

.App .Header .internet {
  width: 16px;
  height: 16px;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}

.App .Header .center-h p{
  margin: 0px;
  margin-bottom: 0;
  margin-left: 2rem;
}

.App .Header .battery {
  width: 2rem;
  height: 1.4rem;
}

.App .Header p, .App .Header span {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 14px;
  font-weight: 800;
}

.App .footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.App .footer button {
  padding-right: -50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  font-size: 35px;
  color: #f5cf89;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.App .session-1 .wrap-1 {
  margin-bottom: 40px;
}

.App .session-1 .wrap-1 h3 {
  margin: 0;
  font-size: 24px;
  color: white;
}

.App .session-1 .wrap-1 svg{
  width: 14px;
  height: 14px;
  padding-left: 1rem;
  fill: white;
}

.wrap-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.App .notifications {
  position: absolute;
  right: 8%;
  top: 30%;
}

.App .notifications span {
  background-color: white;
  width: auto;
  margin: 10px;
  color: black;
  padding: 5px;
  border-radius: 10px;
} 

.App .notifications .title-1 {
  margin-bottom: 1rem;
}

.App .hide {
  display: none;
}
.App .addNewItem {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,0);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App .addNewItem input{
  outline: none;
  border: none;
  height: 24px;
  width: 12rem;
  font-size: 24px;
  padding: 8px 1rem;
  border-radius: 20px;
}

.App .addNewItem button {
  margin-top: 5px;
  width: 80px;
  height: 40px;
  color: #eee;
  background-image: linear-gradient(to right, #4b6cb7 0%, #182848 51%, #4b6cb7 100%);
  border: none;
  font-weight: 800;
  border-radius: 10px;
  transition: .3s all;
}

.App .addNewItem button:hover {
  transform: scale(1.1);
  background-position: right center;
}

.App-newItem {
  background: #00B4DB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.App h3 {
  color:  white;
  margin-left: 0.5rem;
  margin-top: 0;
  margin-bottom: 0;
}
